<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/main.css"/>
</head>
<header class="header">
<a href="#" class="active"><img src="/image/logo.png"alt="Logo" style="width:11.7% height=11.7%"></a>

<h1>My Career Center</h1><br>
</header>
<body>	
	
	<div>
		<nav class="navigation">
			<a href="/">Home</a>
			<a href="/admin">Admin</a>
			<!-- <a href="/home">Students</a> -->
			<a href="/student/login">Students</a>
			<!-- <a href="/employer">Employers</a> -->
			<a href="/employer/login">Employers</a>
			
		</nav>
	<br><br>
	</div>
    <div id='login'>
        <h2 data-position="header">Student Details</h2>
        <section data-position="students">
            <table>
                <% for(var i=0;i<mystudents.length;i++){ %>
                    <tr>
                        <td>
                            <strong>Student Id :   </strong><%=mystudents[i].student_id %>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>First Name :   </strong><%=mystudents[i].first_name %>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Last Name :    </strong><%=mystudents[i].last_name %>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Course :       </strong><%=mystudents[i].course %>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Semester :      </strong><%=mystudents[i].semester %>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Career Advisor : </strong><%=mystudents[i].career_advisor %>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Address :       </strong><%=mystudents[i].address %>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Phone :         </strong><%=mystudents[i].phone %>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Email :         </strong><%=mystudents[i].email %>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>CGPA :          </strong><%=mystudents[i].cgpa %>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Grade :         </strong><%=mystudents[i].grade %>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href='/edit/student?id=<%=mystudents[i].student_id %>'><input type="button" value="Edit Profile"></button></a>
                        </td>
                        <td>
                            <a href='/get/jobs'><input type="button" value="Job Postings"></a>
                        </td>
                        <td>
                            <a href='/get/appliedjobs'><input type="button" value="View Applied Jobs"></a>
                        </td>
                    </tr>
                    <%} %>
            </table>
    
        </section>
    </div>
        
</body>
<section>
</section>
<footer>
	<nav class="footer">
		<a href="">Help and Support</a>
		<a href="faq.html">FAQ's</a>
		<a href="AboutUs.html">About Us</a>
	</nav>
</footer>
</html>